**Match Summary**

In [7]:
import pandas as pd
import numpy as np

In [8]:
df_match=pd.read_csv("C:\Data Science\Data Sets\T20_WC_2024\Data for Analysis\dim_Match_Summary.csv")

In [9]:
df_match.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,India,South Africa,India,7 runs,Bridgetown,29-06-2024,T20I # 2729
1,England,India,India,68 runs,Providence,27-06-2024,T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,26-06-2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,24-06-2024,T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,24-06-2024,T20I # 2721

In [10]:
df_match.rename({'Scorecard':'Match_ID'},axis=1,inplace=True)

In [11]:
df_match.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_ID
0,India,South Africa,India,7 runs,Bridgetown,29-06-2024,T20I # 2729
1,England,India,India,68 runs,Providence,27-06-2024,T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,26-06-2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,24-06-2024,T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,24-06-2024,T20I # 2721

### **Batting Summary**

In [12]:
df_batting=pd.read_csv(r"C:\Data Science\Data Sets\T20_WC_2024\Data for Analysis\fact_Batting_Summary.csv",encoding='ISO-8859-1')

In [13]:
df_batting.head()

,Match,Batting Team,Batting Position,Batsman Name,Dismissal Type,Runs,Balls,Minutes,4s,6s,Strike Rate,Match ID
0,Afghanistan Vs Australia,Afghanistan,1,Rahmanullah Gurbaz ,c Warner b Stoinis,60,49,66,4,4,122.44,T20I # 2717
1,Afghanistan Vs Australia,Afghanistan,2,Ibrahim Zadran,c Marsh b Zampa,51,48,73,6,0,106.25,T20I # 2717
2,Afghanistan Vs Australia,Afghanistan,3,Azmatullah Omarzai,b Zampa,2,3,2,0,0,66.66,T20I # 2717
3,Afghanistan Vs Australia,Afghanistan,4,Karim Janat,c David b Cummins,13,9,13,0,1,144.44,T20I # 2717
4,Afghanistan Vs Australia,Afghanistan,5,Rashid Khan (c),c David b Cummins,2,5,4,0,0,40,T20I # 2717

In [14]:
df_batting.columns

Index(['Match', 'Batting Team', 'Batting Position', 'Batsman Name',
       'Dismissal Type', 'Runs', 'Balls', 'Minutes', '4s', '6s', 'Strike Rate',
       'Match ID'],
      dtype='object')

In [15]:
df_batting.dtypes

Match               object
Batting Team        object
Batting Position     int64
Batsman Name        object
Dismissal Type      object
Runs                 int64
Balls                int64
Minutes             object
4s                   int64
6s                   int64
Strike Rate         object
Match ID            object
dtype: object

In [16]:
df_batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match             852 non-null    object
 1   Batting Team      852 non-null    object
 2   Batting Position  852 non-null    int64
 3   Batsman Name      852 non-null    object
 4   Dismissal Type    679 non-null    object
 5   Runs              852 non-null    int64
 6   Balls             852 non-null    int64
 7   Minutes           852 non-null    object
 8   4s                852 non-null    int64
 9   6s                852 non-null    int64
 10  Strike Rate       852 non-null    object
 11  Match ID          852 non-null    object
dtypes: int64(5), object(7)
memory usage: 80.0+ KB

In [17]:
df_batting.head(10)

,Match,Batting Team,Batting Position,Batsman Name,Dismissal Type,Runs,Balls,Minutes,4s,6s,Strike Rate,Match ID
0,Afghanistan Vs Australia,Afghanistan,1,Rahmanullah Gurbaz ,c Warner b Stoinis,60,49,66,4,4,122.44,T20I # 2717
1,Afghanistan Vs Australia,Afghanistan,2,Ibrahim Zadran,c Marsh b Zampa,51,48,73,6,0,106.25,T20I # 2717
2,Afghanistan Vs Australia,Afghanistan,3,Azmatullah Omarzai,b Zampa,2,3,2,0,0,66.66,T20I # 2717
3,Afghanistan Vs Australia,Afghanistan,4,Karim Janat,c David b Cummins,13,9,13,0,1,144.44,T20I # 2717
4,Afghanistan Vs Australia,Afghanistan,5,Rashid Khan (c),c David b Cummins,2,5,4,0,0,40,T20I # 2717
5,Afghanistan Vs Australia,Afghanistan,6,Mohammad Nabi,NaN,10,4,10,2,0,250,T20I # 2717
6,Afghanistan Vs Australia,Afghanistan,7,Gulbadin Naib,c Maxwell b Cummins,0,1,12,0,0,0,T20I # 2717
7,Afghanistan Vs Australia,Afghanistan,8,Nangeyalia Kharote,NaN,1,1,2,0,0,100,T20I # 2717
8,South Africa Vs England,South Africa,1,Reeza Hendricks,c Brook b Ali,19,25,41,1,0,76,T20I # 2712
9,South Africa Vs England,South Africa,2,Quinton de Kock ,c Buttler b Archer,65,38,50,4,4,171.05,T20I # 2712

In [18]:
# df_batting['Dismissal Type'] = df_batting['Dismissal Type'].astype(str).fillna('np.nan')

In [19]:
type(df_batting['Dismissal Type'][5])

float

In [20]:
df_batting['out/not_out']=df_batting['Dismissal Type'].apply(lambda x: 'out' if type(x) == str else "not out")
df_batting.sample(15)

,Match,Batting Team,Batting Position,Batsman Name,Dismissal Type,Runs,Balls,Minutes,4s,6s,Strike Rate,Match ID,out/not_out
53,Scotland Vs Australia,Australia,4,Glenn Maxwell,b Watt,11,8,13,0,1,137.5,T20I # 2689,out
427,Canada Vs Ireland,Ireland,1,Andy Balbirnie,c & b Junaid Siddiqui,17,19,29,1,0,89.47,T20I # 2644,out
131,P.N.G. Vs Afghanistan,P.N.G.,10,John Kariko,NaN,4,7,10,1,0,57.14,T20I # 2679,not out
366,Sri Lanka Vs Bangladesh,Sri Lanka,3,Kamindu Mendis,c Tanzim Hasan Sakib b Mustafizur Rahman,4,5,11,1,0,80,T20I # 2646,out
530,Afghanistan Vs Uganda,Uganda,4,Riazat Ali Shah,b Fazalhaq Farooqi,11,34,56,0,0,32.35,T20I # 2636,out
659,Namibia Vs Scotland,Namibia,3,Jan Frylinck,b Currie,12,14,13,2,0,85.71,T20I # 2643,out
495,Bangladesh Vs Australia,Australia,4,Glenn Maxwell,NaN,14,6,12,1,1,233.33,T20I # 2711,not out
201,South Africa Vs U.S.A.,U.S.A.,2,Andries Gous ,NaN,80,47,88,5,5,170.21,T20I # 2708,not out
110,P.N.G. Vs New Zealand,P.N.G.,5,Hiri Hiri,b Boult,7,11,16,1,0,63.63,T20I # 2702,out
311,U.S.A. Vs India,India,2,Virat Kohli,c Gous b Netravalkar,0,1,1,0,0,0,T20I # 2671,out
309,U.S.A. Vs India,U.S.A.,9,Jasdeep Singh,run out (Pant/Mohammed Siraj),2,7,11,0,0,28.57,T20I # 2671,out
2,Afghanistan Vs Australia,Afghanistan,3,Azmatullah Omarzai,b Zampa,2,3,2,0,0,66.66,T20I # 2717,out
339,Sri Lanka Vs South Africa,South Africa,1,Quinton de Kock ,c & b Hasaranga,20,27,54,0,1,74.07,T20I # 2635,out
592,Afghanistan Vs Bangladesh,Afghanistan,4,Gulbadin Naib,c Soumya Sarkar b Rishad Hossain,4,3,4,1,0,133.33,T20I # 2722,out
726,India Vs South Africa,South Africa,9,Kagiso Rabada,c Yadav b Pandya,4,3,5,1,0,133.33,T20I # 2729,out

In [21]:
print(df_batting['Batsman Name'][0],
df_batting['Batsman Name'][795],
df_batting['Batsman Name'][783])

string = df_batting['Batsman Name'][0]
print(string)

do=pd.DataFrame({"bat":[df_batting['Batsman Name'][0],
df_batting['Batsman Name'][795],
df_batting['Batsman Name'][783]]})

do

Rahmanullah Gurbaz  Rishabh Pant  Litton Das 
Rahmanullah Gurbaz 

                    bat
0  Rahmanullah Gurbaz 
1        Rishabh Pant 
2          Litton Das 

In [22]:
do['bat'].str.replace(r'[^\w\s]', '', regex=True)
do['bat']

0    Rahmanullah Gurbaz 
1          Rishabh Pant 
2            Litton Das 
Name: bat, dtype: object

In [23]:
import regex as re
def remove_non_printable(text):
    return re.sub(r'[^\x20-\x7E]', '', text)

do['bat']=do['bat'].apply(remove_non_printable)
do['bat']

0    Rahmanullah Gurbaz
1          Rishabh Pant
2            Litton Das
Name: bat, dtype: object

In [ ]:
df_batting['Batsman Name']=df_batting['Batsman Name'].apply(remove_non_printable)
df_batting.head(20)

In [28]:
df_batting.columns

Index(['Match', 'Batting Team', 'Batting Position', 'Batsman Name',
       'Dismissal Type', 'Runs', 'Balls', 'Minutes', '4s', '6s', 'Strike Rate',
       'Match ID', 'out/not_out'],
      dtype='object')

In [30]:
df_batting.drop('Dismissal Type',axis=1,inplace=True)

In [34]:
df_batting.head(6)

,Match,Batting Team,Batting Position,Batsman Name,Runs,Balls,Minutes,4s,6s,Strike Rate,Match ID,out/not_out
0,Afghanistan Vs Australia,Afghanistan,1,Rahmanullah Gurbaz,60,49,66,4,4,122.44,T20I # 2717,out
1,Afghanistan Vs Australia,Afghanistan,2,Ibrahim Zadran,51,48,73,6,0,106.25,T20I # 2717,out
2,Afghanistan Vs Australia,Afghanistan,3,Azmatullah Omarzai,2,3,2,0,0,66.66,T20I # 2717,out
3,Afghanistan Vs Australia,Afghanistan,4,Karim Janat,13,9,13,0,1,144.44,T20I # 2717,out
4,Afghanistan Vs Australia,Afghanistan,5,Rashid Khan(c),2,5,4,0,0,40,T20I # 2717,out
5,Afghanistan Vs Australia,Afghanistan,6,Mohammad Nabi,10,4,10,2,0,250,T20I # 2717,not out

In [35]:
df_batting.to_csv('C:\Data Science\Data Sets\T20_WC_2024\Data for Analysis\Refined Data\ batting_summary.csv',index=False)

In [586]:
df_match.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_ID
0,India,South Africa,India,7 runs,Bridgetown,29-06-2024,T20I # 2729
1,England,India,India,68 runs,Providence,27-06-2024,T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,26-06-2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,24-06-2024,T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,24-06-2024,T20I # 2721

In [587]:
df_match.query('`Team 1` == "Afghanistan" or `Team 2`== "Afghanistan" ')             # Write column name in between `` if the column name contains spaces, while using query()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_ID
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,26-06-2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,24-06-2024,T20I # 2722
7,Afghanistan,Australia,Afghanistan,21 runs,Kingstown,22-06-2024,T20I # 2717
12,Afghanistan,India,India,47 runs,Bridgetown,20-06-2024,T20I # 2710
15,West Indies,Afghanistan,West Indies,104 runs,Gros Islet,17-06-2024,T20I # 2703
24,Afghanistan,P.N.G.,Afghanistan,7 wickets,Tarouba,13-06-2024,T20I # 2679
38,Afghanistan,New Zealand,Afghanistan,84 runs,Providence,07-06-2024,T20I # 2645
47,Afghanistan,Uganda,Afghanistan,125 runs,Providence,03-06-2024,T20I # 2636

### **Scores**

In [589]:
df_scores=pd.read_csv("C:\Data Science\Data Sets\T20_WC_2024\Match_Summary\match_summary_team_scores.csv")

In [590]:
df_scores.head(10)

,Match_ID,Team_1,Team_1_Score,Team_1_Image,Team_1_Extras_given,Team_2,Team_2_Score,Team_2_Image,Team_2_Extras_given
0,T20I # 2729,IND,176/7,https://wassets.hscicdn.com/static/images/lazy...,"(b 1, lb 4, nb 1, w 3)",SA,169/8,https://wassets.hscicdn.com/static/images/lazy...,"(nb 1, w 6)"
1,T20I # 2724,IND,171/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,103,https://wassets.hscicdn.com/static/images/lazy...,NaN
2,T20I # 2723,AFG,56,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,60/1,https://wassets.hscicdn.com/static/images/lazy...,NaN
3,T20I # 2722,AFG,115/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,BAN,105,https://wassets.hscicdn.com/static/images/lazy...,NaN
4,T20I # 2721,IND,205/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,181/7,https://wassets.hscicdn.com/static/images/lazy...,NaN
5,T20I # 2720,WI,135/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,124/7,https://wassets.hscicdn.com/static/images/lazy...,NaN
6,T20I # 2719,USA,115,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,117/0,https://wassets.hscicdn.com/static/images/lazy...,NaN
7,T20I # 2717,AFG,148/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,127,https://wassets.hscicdn.com/static/images/lazy...,NaN
8,T20I # 2716,IND,196/5,https://wassets.hscicdn.com/static/images/lazy...,"(lb 2, w 3)",BAN,146/8,https://wassets.hscicdn.com/static/images/lazy...,NaN
9,T20I # 2713,USA,128,https://wassets.hscicdn.com/static/images/lazy...,NaN,WI,130/1,https://wassets.hscicdn.com/static/images/lazy...,NaN

In [417]:
#df_scores.fillna(0,inplace=True)

# table=df_scores[df_scores.columns[0:5]]
# df_scores['Team_1_Extras_given'].dtype

In [598]:
# Extracts values into a list

def extract_values(text):
    if pd.isna(text):
        return []
    else:
        return re.findall(r'[a-zA-Z]+\s+\d+', text)

In [592]:
def list_to_dict(lst):
  """Converts a list of pairs to a dictionary."""
  return {item.split()[0]: int(item.split()[1]) for item in lst}

# my_list = ['b 1', 'lb 4', 'nb 1', 'w 3']
# my_dict = list_to_dict(my_list)
# print(my_dict)  # Output: {'b': 1, 'lb': 4, 'nb': 1, 'w': 3}

In [420]:
# table['extracted_values'] = table['Team_1_Extras_given'].apply(extract_values)
# table

In [421]:
# table.head(5)

In [593]:
# Extracting exrtas into new columns for team 1

df_scores['extracted_extras_team1'] = df_scores['Team_1_Extras_given'].apply(extract_values)
df_scores['extracted_extras_team1'] = df_scores['extracted_extras_team1'].apply(list_to_dict)
df_scores

,Match_ID,Team_1,Team_1_Score,Team_1_Image,Team_1_Extras_given,Team_2,Team_2_Score,Team_2_Image,Team_2_Extras_given,extracted_extras_team1
0,T20I # 2729,IND,176/7,https://wassets.hscicdn.com/static/images/lazy...,"(b 1, lb 4, nb 1, w 3)",SA,169/8,https://wassets.hscicdn.com/static/images/lazy...,"(nb 1, w 6)","{'b': 1, 'lb': 4, 'nb': 1, 'w': 3}"
1,T20I # 2724,IND,171/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,103,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
2,T20I # 2723,AFG,56,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,60/1,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
3,T20I # 2722,AFG,115/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,BAN,105,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
4,T20I # 2721,IND,205/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,181/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
5,T20I # 2720,WI,135/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,124/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
6,T20I # 2719,USA,115,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,117/0,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
7,T20I # 2717,AFG,148/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,127,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
8,T20I # 2716,IND,196/5,https://wassets.hscicdn.com/static/images/lazy...,"(lb 2, w 3)",BAN,146/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,"{'lb': 2, 'w': 3}"
9,T20I # 2713,USA,128,https://wassets.hscicdn.com/static/images/lazy...,NaN,WI,130/1,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
10,T20I # 2712,SA,163/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,156/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
11,T20I # 2711,BAN,140/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,100/2,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
12,T20I # 2710,IND,181/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,AFG,134,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
13,T20I # 2709,WI,180/4,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,181/2,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
14,T20I # 2708,SA,194/4,https://wassets.hscicdn.com/static/images/lazy...,NaN,USA,176/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
15,T20I # 2703,WI,218/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,AFG,114,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
16,T20I # 2702,PNG,78,https://wassets.hscicdn.com/static/images/lazy...,NaN,NZ,79/3,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
17,T20I # 2699,SL,201/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,NED,118,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
18,T20I # 2698,BAN,106,https://wassets.hscicdn.com/static/images/lazy...,NaN,NEP,85,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
19,T20I # 2697,IRE,106/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,PAK,111/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
20,T20I # 2689,SCOT,180/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,186/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
21,T20I # 2688,ENG,122/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,NAM,84/3,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
22,T20I # 2682,UGA,40,https://wassets.hscicdn.com/static/images/lazy...,NaN,NZ,41/1,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
23,T20I # 2681,SA,115/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,NEP,114/7,https://wassets.hscicdn.com/static/images/lazy...,"(lb 6, w 3)",{}
24,T20I # 2679,PNG,95,https://wassets.hscicdn.com/static/images/lazy...,NaN,AFG,101/3,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
25,T20I # 2678,OMA,47,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,50/2,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
26,T20I # 2677,BAN,159/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,NED,134/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
27,T20I # 2672,WI,149/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,NZ,136/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
28,T20I # 2671,USA,110/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,IND,111/3,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
29,T20I # 2666,NAM,72,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,74/1,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
30,T20I # 2665,CAN,106/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,PAK,107/3,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
31,T20I # 2664,SA,113/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,BAN,109/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
32,T20I # 2659,OMA,150/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,SCOT,153/3,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
33,T20I # 2658,IND,119,https://wassets.hscicdn.com/static/images/lazy...,NaN,PAK,113/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
34,T20I # 2651,WI,173/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,UGA,39,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
35,T20I # 2650,AUS,201/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,165/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
36,T20I # 2649,NED,103/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,106/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
37,T20I # 2646,SL,124/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,BAN,125/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
38,T20I # 2645,AFG,159/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,NZ,75,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
39,T20I # 2644,CAN,137/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,IRE,125/7,https://wassets.hscicdn.com/static/images/lazy...,(w 5),{}
40,T20I # 2643,NAM,155/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,SCOT,157/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
41,T20I # 2642,PAK,159/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,USA,159/3,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
42,T20I # 2641,AUS,164/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,OMA,125/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
43,T20I # 2640,PNG,77,https://wassets.hscicdn.com/static/images/lazy...,NaN,UGA,78/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
44,T20I # 2639,IRE,96,https://wassets.hscicdn.com/static/images/lazy...,NaN,IND,97/2,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
45,T20I # 2638,NEP,106,https://wassets.hscicdn.com/static/images/lazy...,NaN,NED,109/4,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
46,T20I # 2637,SCOT,90/0,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,NaN,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
47,T20I # 2636,AFG,183/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,UGA,58,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
48,T20I # 2635,SL,77,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,80/4,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
49,T20I # 2634,OMA,109,https://wassets.hscicdn.com/static/images/lazy...,NaN,NAM,109/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
50,T20I # 2633,PNG,136/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,WI,137/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}
51,T20I # 2632,CAN,194/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,USA,197/3,https://wassets.hscicdn.com/static/images/lazy...,NaN,{}

In [594]:

df_scores['T1_Wides_given'] = df_scores['extracted_extras_team1'].apply(lambda x : x['w'] if len(x)!=0 and 'w' in x else 0)
df_scores['T1_Byes_given'] = df_scores['extracted_extras_team1'].apply(lambda x : x['b'] if len(x)!=0 and 'b' in x else 0)
df_scores['T1_LBs_given'] = df_scores['extracted_extras_team1'].apply(lambda x : x['lb'] if len(x)!=0 and 'lb' in x else 0)
df_scores['T1_NBs_given'] = df_scores['extracted_extras_team1'].apply(lambda x : x['nb'] if len(x)!=0 and 'nb' in x else 0)

In [595]:
# Extracting exrtas into new columns for team 2

df_scores['Team_2_Extras_given'] = df_scores['Team_2_Extras_given'].apply(extract_values)
df_scores['Team_2_Extras_given'] = df_scores['Team_2_Extras_given'].apply(list_to_dict)

df_scores['T2_Wides_given'] = df_scores['extracted_extras_team1'].apply(lambda x : x['w'] if len(x)!=0 and 'w' in x else 0)
df_scores['T2_Byes_given'] = df_scores['extracted_extras_team1'].apply(lambda x : x['b'] if len(x)!=0 and 'b' in x else 0)
df_scores['T2_LBs_given'] = df_scores['extracted_extras_team1'].apply(lambda x : x['lb'] if len(x)!=0 and 'lb' in x else 0)
df_scores['T2_NBs_given'] = df_scores['extracted_extras_team1'].apply(lambda x : x['nb'] if len(x)!=0 and 'nb' in x else 0)

In [596]:
df_scores

,Match_ID,Team_1,Team_1_Score,Team_1_Image,Team_1_Extras_given,Team_2,Team_2_Score,Team_2_Image,Team_2_Extras_given,extracted_extras_team1,T1_Wides_given,T1_Byes_given,T1_LBs_given,T1_NBs_given,T2_Wides_given,T2_Byes_given,T2_LBs_given,T2_NBs_given
0,T20I # 2729,IND,176/7,https://wassets.hscicdn.com/static/images/lazy...,"(b 1, lb 4, nb 1, w 3)",SA,169/8,https://wassets.hscicdn.com/static/images/lazy...,"{'nb': 1, 'w': 6}","{'b': 1, 'lb': 4, 'nb': 1, 'w': 3}",3,1,4,1,3,1,4,1
1,T20I # 2724,IND,171/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,103,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
2,T20I # 2723,AFG,56,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,60/1,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
3,T20I # 2722,AFG,115/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,BAN,105,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
4,T20I # 2721,IND,205/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,181/7,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
5,T20I # 2720,WI,135/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,124/7,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
6,T20I # 2719,USA,115,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,117/0,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
7,T20I # 2717,AFG,148/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,127,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
8,T20I # 2716,IND,196/5,https://wassets.hscicdn.com/static/images/lazy...,"(lb 2, w 3)",BAN,146/8,https://wassets.hscicdn.com/static/images/lazy...,{},"{'lb': 2, 'w': 3}",3,0,2,0,3,0,2,0
9,T20I # 2713,USA,128,https://wassets.hscicdn.com/static/images/lazy...,NaN,WI,130/1,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
10,T20I # 2712,SA,163/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,156/6,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
11,T20I # 2711,BAN,140/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,100/2,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
12,T20I # 2710,IND,181/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,AFG,134,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
13,T20I # 2709,WI,180/4,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,181/2,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
14,T20I # 2708,SA,194/4,https://wassets.hscicdn.com/static/images/lazy...,NaN,USA,176/6,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
15,T20I # 2703,WI,218/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,AFG,114,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
16,T20I # 2702,PNG,78,https://wassets.hscicdn.com/static/images/lazy...,NaN,NZ,79/3,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
17,T20I # 2699,SL,201/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,NED,118,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
18,T20I # 2698,BAN,106,https://wassets.hscicdn.com/static/images/lazy...,NaN,NEP,85,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
19,T20I # 2697,IRE,106/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,PAK,111/7,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
20,T20I # 2689,SCOT,180/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,186/5,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
21,T20I # 2688,ENG,122/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,NAM,84/3,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
22,T20I # 2682,UGA,40,https://wassets.hscicdn.com/static/images/lazy...,NaN,NZ,41/1,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
23,T20I # 2681,SA,115/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,NEP,114/7,https://wassets.hscicdn.com/static/images/lazy...,"{'lb': 6, 'w': 3}",{},0,0,0,0,0,0,0,0
24,T20I # 2679,PNG,95,https://wassets.hscicdn.com/static/images/lazy...,NaN,AFG,101/3,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
25,T20I # 2678,OMA,47,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,50/2,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
26,T20I # 2677,BAN,159/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,NED,134/8,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
27,T20I # 2672,WI,149/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,NZ,136/9,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
28,T20I # 2671,USA,110/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,IND,111/3,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
29,T20I # 2666,NAM,72,https://wassets.hscicdn.com/static/images/lazy...,NaN,AUS,74/1,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
30,T20I # 2665,CAN,106/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,PAK,107/3,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
31,T20I # 2664,SA,113/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,BAN,109/7,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
32,T20I # 2659,OMA,150/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,SCOT,153/3,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
33,T20I # 2658,IND,119,https://wassets.hscicdn.com/static/images/lazy...,NaN,PAK,113/7,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
34,T20I # 2651,WI,173/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,UGA,39,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
35,T20I # 2650,AUS,201/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,165/6,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
36,T20I # 2649,NED,103/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,106/6,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
37,T20I # 2646,SL,124/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,BAN,125/8,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
38,T20I # 2645,AFG,159/6,https://wassets.hscicdn.com/static/images/lazy...,NaN,NZ,75,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
39,T20I # 2644,CAN,137/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,IRE,125/7,https://wassets.hscicdn.com/static/images/lazy...,{'w': 5},{},0,0,0,0,0,0,0,0
40,T20I # 2643,NAM,155/9,https://wassets.hscicdn.com/static/images/lazy...,NaN,SCOT,157/5,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
41,T20I # 2642,PAK,159/7,https://wassets.hscicdn.com/static/images/lazy...,NaN,USA,159/3,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
42,T20I # 2641,AUS,164/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,OMA,125/9,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
43,T20I # 2640,PNG,77,https://wassets.hscicdn.com/static/images/lazy...,NaN,UGA,78/7,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
44,T20I # 2639,IRE,96,https://wassets.hscicdn.com/static/images/lazy...,NaN,IND,97/2,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
45,T20I # 2638,NEP,106,https://wassets.hscicdn.com/static/images/lazy...,NaN,NED,109/4,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
46,T20I # 2637,SCOT,90/0,https://wassets.hscicdn.com/static/images/lazy...,NaN,ENG,NaN,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
47,T20I # 2636,AFG,183/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,UGA,58,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
48,T20I # 2635,SL,77,https://wassets.hscicdn.com/static/images/lazy...,NaN,SA,80/4,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
49,T20I # 2634,OMA,109,https://wassets.hscicdn.com/static/images/lazy...,NaN,NAM,109/6,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
50,T20I # 2633,PNG,136/8,https://wassets.hscicdn.com/static/images/lazy...,NaN,WI,137/5,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0
51,T20I # 2632,CAN,194/5,https://wassets.hscicdn.com/static/images/lazy...,NaN,USA,197/3,https://wassets.hscicdn.com/static/images/lazy...,{},{},0,0,0,0,0,0,0,0

In [597]:
df_scores.columns

Index(['Match_ID', 'Team_1', 'Team_1_Score', 'Team_1_Image',
       'Team_1_Extras_given', 'Team_2', 'Team_2_Score', 'Team_2_Image',
       'Team_2_Extras_given', 'extracted_extras_team1', 'T1_Wides_given',
       'T1_Byes_given', 'T1_LBs_given', 'T1_NBs_given', 'T2_Wides_given',
       'T2_Byes_given', 'T2_LBs_given', 'T2_NBs_given'],
      dtype='object')

In [427]:
df_scores = df_scores.drop(['Team_1_Extras_given','Team_2_Extras_given','extracted_extras_team1'], axis=1)
df_scores.head()

,Match_ID,Team_1,Team_1_Score,Team_1_Image,Team_2,Team_2_Score,Team_2_Image,T1_Wides_given,T1_Byes_given,T1_LBs_given,T1_NBs_given,T2_Wides_given,T2_Byes_given,T2_LBs_given,T2_NBs_given
0,T20I # 2729,IND,176/7,https://wassets.hscicdn.com/static/images/lazy...,SA,169/8,https://wassets.hscicdn.com/static/images/lazy...,3,1,4,1,3,1,4,1
1,T20I # 2724,IND,171/7,https://wassets.hscicdn.com/static/images/lazy...,ENG,103,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,0,0,0,0
2,T20I # 2723,AFG,56,https://wassets.hscicdn.com/static/images/lazy...,SA,60/1,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,0,0,0,0
3,T20I # 2722,AFG,115/5,https://wassets.hscicdn.com/static/images/lazy...,BAN,105,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,0,0,0,0
4,T20I # 2721,IND,205/5,https://wassets.hscicdn.com/static/images/lazy...,AUS,181/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,0,0,0,0

In [428]:
# Reordering the columns
df_scores=df_scores.reindex(['Match_ID', 'Team_1', 'Team_1_Score', 'Team_1_Image','T1_Wides_given', 'T1_Byes_given', 'T1_LBs_given',
       'T1_NBs_given','Team_2','Team_2_Score', 'Team_2_Image','T2_Wides_given', 'T2_Byes_given', 'T2_LBs_given', 'T2_NBs_given'],axis=1)
df_scores.head()

,Match_ID,Team_1,Team_1_Score,Team_1_Image,T1_Wides_given,T1_Byes_given,T1_LBs_given,T1_NBs_given,Team_2,Team_2_Score,Team_2_Image,T2_Wides_given,T2_Byes_given,T2_LBs_given,T2_NBs_given
0,T20I # 2729,IND,176/7,https://wassets.hscicdn.com/static/images/lazy...,3,1,4,1,SA,169/8,https://wassets.hscicdn.com/static/images/lazy...,3,1,4,1
1,T20I # 2724,IND,171/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,103,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0
2,T20I # 2723,AFG,56,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SA,60/1,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0
3,T20I # 2722,AFG,115/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,BAN,105,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0
4,T20I # 2721,IND,205/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AUS,181/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0

In [429]:
df_scores.head()

,Match_ID,Team_1,Team_1_Score,Team_1_Image,T1_Wides_given,T1_Byes_given,T1_LBs_given,T1_NBs_given,Team_2,Team_2_Score,Team_2_Image,T2_Wides_given,T2_Byes_given,T2_LBs_given,T2_NBs_given
0,T20I # 2729,IND,176/7,https://wassets.hscicdn.com/static/images/lazy...,3,1,4,1,SA,169/8,https://wassets.hscicdn.com/static/images/lazy...,3,1,4,1
1,T20I # 2724,IND,171/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,103,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0
2,T20I # 2723,AFG,56,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SA,60/1,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0
3,T20I # 2722,AFG,115/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,BAN,105,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0
4,T20I # 2721,IND,205/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AUS,181/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0

In [430]:
df_match.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Match_ID
0,India,South Africa,India,7 runs,Bridgetown,29-06-2024,T20I # 2729
1,England,India,India,68 runs,Providence,27-06-2024,T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,26-06-2024,T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,24-06-2024,T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,24-06-2024,T20I # 2721

In [431]:
df_scores.shape

(52, 15)

In [432]:
df_full=pd.merge(df_scores,df_match,on=['Match_ID'])
df_full

,Match_ID,Team_1,Team_1_Score,Team_1_Image,T1_Wides_given,T1_Byes_given,T1_LBs_given,T1_NBs_given,Team_2,Team_2_Score,...,T2_Wides_given,T2_Byes_given,T2_LBs_given,T2_NBs_given,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,T20I # 2729,IND,176/7,https://wassets.hscicdn.com/static/images/lazy...,3,1,4,1,SA,169/8,...,3,1,4,1,India,South Africa,India,7 runs,Bridgetown,29-06-2024
1,T20I # 2724,IND,171/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,103,...,0,0,0,0,England,India,India,68 runs,Providence,27-06-2024
2,T20I # 2723,AFG,56,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SA,60/1,...,0,0,0,0,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,26-06-2024
3,T20I # 2722,AFG,115/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,BAN,105,...,0,0,0,0,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,24-06-2024
4,T20I # 2721,IND,205/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AUS,181/7,...,0,0,0,0,Australia,India,India,24 runs,Gros Islet,24-06-2024
5,T20I # 2720,WI,135/8,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SA,124/7,...,0,0,0,0,West Indies,South Africa,South Africa,3 wickets,North Sound,23-06-2024
6,T20I # 2719,USA,115,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,117/0,...,0,0,0,0,England,U.S.A.,England,10 wickets,Bridgetown,23-06-2024
7,T20I # 2717,AFG,148/6,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AUS,127,...,0,0,0,0,Afghanistan,Australia,Afghanistan,21 runs,Kingstown,22-06-2024
8,T20I # 2716,IND,196/5,https://wassets.hscicdn.com/static/images/lazy...,3,0,2,0,BAN,146/8,...,3,0,2,0,Bangladesh,India,India,50 runs,North Sound,22-06-2024
9,T20I # 2713,USA,128,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,WI,130/1,...,0,0,0,0,West Indies,U.S.A.,West Indies,9 wickets,Bridgetown,21-06-2024
10,T20I # 2712,SA,163/6,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,156/6,...,0,0,0,0,England,South Africa,South Africa,7 runs,Gros Islet,21-06-2024
11,T20I # 2711,BAN,140/8,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AUS,100/2,...,0,0,0,0,Australia,Bangladesh,Australia,28 runs,North Sound,20-06-2024
12,T20I # 2710,IND,181/8,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AFG,134,...,0,0,0,0,Afghanistan,India,India,47 runs,Bridgetown,20-06-2024
13,T20I # 2709,WI,180/4,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,181/2,...,0,0,0,0,West Indies,England,England,8 wickets,Gros Islet,19-06-2024
14,T20I # 2708,SA,194/4,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,USA,176/6,...,0,0,0,0,South Africa,U.S.A.,South Africa,18 runs,North Sound,19-06-2024
15,T20I # 2703,WI,218/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AFG,114,...,0,0,0,0,West Indies,Afghanistan,West Indies,104 runs,Gros Islet,17-06-2024
16,T20I # 2702,PNG,78,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NZ,79/3,...,0,0,0,0,New Zealand,P.N.G.,New Zealand,7 wickets,Tarouba,17-06-2024
17,T20I # 2699,SL,201/6,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NED,118,...,0,0,0,0,Netherlands,Sri Lanka,Sri Lanka,83 runs,Gros Islet,16-06-2024
18,T20I # 2698,BAN,106,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NEP,85,...,0,0,0,0,Bangladesh,Nepal,Bangladesh,21 runs,Kingstown,16-06-2024
19,T20I # 2697,IRE,106/9,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,PAK,111/7,...,0,0,0,0,Ireland,Pakistan,Pakistan,3 wickets,Lauderhill,16-06-2024
20,T20I # 2689,SCOT,180/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AUS,186/5,...,0,0,0,0,Australia,Scotland,Australia,5 wickets,Gros Islet,15-06-2024
21,T20I # 2688,ENG,122/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NAM,84/3,...,0,0,0,0,England,Namibia,England,41 runs,North Sound,15-06-2024
22,T20I # 2682,UGA,40,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NZ,41/1,...,0,0,0,0,New Zealand,Uganda,New Zealand,9 wickets,Tarouba,14-06-2024
23,T20I # 2681,SA,115/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NEP,114/7,...,0,0,0,0,Nepal,South Africa,South Africa,1 run,Kingstown,14-06-2024
24,T20I # 2679,PNG,95,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AFG,101/3,...,0,0,0,0,Afghanistan,P.N.G.,Afghanistan,7 wickets,Tarouba,13-06-2024
25,T20I # 2678,OMA,47,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,50/2,...,0,0,0,0,England,Oman,England,8 wickets,North Sound,13-06-2024
26,T20I # 2677,BAN,159/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NED,134/8,...,0,0,0,0,Bangladesh,Netherlands,Bangladesh,25 runs,Kingstown,13-06-2024
27,T20I # 2672,WI,149/9,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NZ,136/9,...,0,0,0,0,West Indies,New Zealand,West Indies,13 runs,Tarouba,12-06-2024
28,T20I # 2671,USA,110/8,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,IND,111/3,...,0,0,0,0,U.S.A.,India,India,7 wickets,New York,12-06-2024
29,T20I # 2666,NAM,72,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AUS,74/1,...,0,0,0,0,Australia,Namibia,Australia,9 wickets,North Sound,11-06-2024
30,T20I # 2665,CAN,106/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,PAK,107/3,...,0,0,0,0,Canada,Pakistan,Pakistan,7 wickets,New York,11-06-2024
31,T20I # 2664,SA,113/6,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,BAN,109/7,...,0,0,0,0,Bangladesh,South Africa,South Africa,4 runs,New York,10-06-2024
32,T20I # 2659,OMA,150/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SCOT,153/3,...,0,0,0,0,Oman,Scotland,Scotland,7 wickets,North Sound,09-06-2024
33,T20I # 2658,IND,119,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,PAK,113/7,...,0,0,0,0,India,Pakistan,India,6 runs,New York,09-06-2024
34,T20I # 2651,WI,173/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,UGA,39,...,0,0,0,0,West Indies,Uganda,West Indies,134 runs,Providence,08-06-2024
35,T20I # 2650,AUS,201/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,165/6,...,0,0,0,0,Australia,England,Australia,36 runs,Bridgetown,08-06-2024
36,T20I # 2649,NED,103/9,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SA,106/6,...,0,0,0,0,Netherlands,South Africa,South Africa,4 wickets,New York,08-06-2024
37,T20I # 2646,SL,124/9,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,BAN,125/8,...,0,0,0,0,Bangladesh,Sri Lanka,Bangladesh,2 wickets,Dallas,07-06-2024
38,T20I # 2645,AFG,159/6,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NZ,75,...,0,0,0,0,Afghanistan,New Zealand,Afghanistan,84 runs,Providence,07-06-2024
39,T20I # 2644,CAN,137/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,IRE,125/7,...,0,0,0,0,Canada,Ireland,Canada,12 runs,New York,07-06-2024
40,T20I # 2643,NAM,155/9,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SCOT,157/5,...,0,0,0,0,Namibia,Scotland,Scotland,5 wickets,Bridgetown,06-06-2024
41,T20I # 2642,PAK,159/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,USA,159/3,...,0,0,0,0,U.S.A.,Pakistan,tied,-,Dallas,06-06-2024
42,T20I # 2641,AUS,164/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,OMA,125/9,...,0,0,0,0,Australia,Oman,Australia,39 runs,Bridgetown,05-06-2024
43,T20I # 2640,PNG,77,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,UGA,78/7,...,0,0,0,0,P.N.G.,Uganda,Uganda,3 wickets,Providence,05-06-2024
44,T20I # 2639,IRE,96,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,IND,97/2,...,0,0,0,0,India,Ireland,India,8 wickets,New York,05-06-2024
45,T20I # 2638,NEP,106,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NED,109/4,...,0,0,0,0,Nepal,Netherlands,Netherlands,6 wickets,Dallas,04-06-2024
46,T20I # 2637,SCOT,90/0,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,NaN,...,0,0,0,0,England,Scotland,no result,-,Bridgetown,04-06-2024
47,T20I # 2636,AFG,183/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,UGA,58,...,0,0,0,0,Afghanistan,Uganda,Afghanistan,125 runs,Providence,03-06-2024
48,T20I # 2635,SL,77,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SA,80/4,...,0,0,0,0,South Africa,Sri Lanka,South Africa,6 wickets,New York,03-06-2024
49,T20I # 2634,OMA,109,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,NAM,109/6,...,0,0,0,0,Namibia,Oman,tied,-,Bridgetown,02-06-2024
50,T20I # 2633,PNG,136/8,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,WI,137/5,...,0,0,0,0,West Indies,P.N.G.,West Indies,5 wickets,Providence,02-06-2024
51,T20I # 2632,CAN,194/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,USA,197/3,...,0,0,0,0,U.S.A.,Canada,U.S.A.,7 wickets,Dallas,01-06-2024

In [433]:
df_full.drop(['Team 1','Team 2'],axis=1,inplace=True)

In [434]:
df_full.columns

Index(['Match_ID', 'Team_1', 'Team_1_Score', 'Team_1_Image', 'T1_Wides_given',
       'T1_Byes_given', 'T1_LBs_given', 'T1_NBs_given', 'Team_2',
       'Team_2_Score', 'Team_2_Image', 'T2_Wides_given', 'T2_Byes_given',
       'T2_LBs_given', 'T2_NBs_given', 'Winner', 'Margin', 'Ground',
       'Match Date'],
      dtype='object')

In [435]:
df_full.head()

,Match_ID,Team_1,Team_1_Score,Team_1_Image,T1_Wides_given,T1_Byes_given,T1_LBs_given,T1_NBs_given,Team_2,Team_2_Score,Team_2_Image,T2_Wides_given,T2_Byes_given,T2_LBs_given,T2_NBs_given,Winner,Margin,Ground,Match Date
0,T20I # 2729,IND,176/7,https://wassets.hscicdn.com/static/images/lazy...,3,1,4,1,SA,169/8,https://wassets.hscicdn.com/static/images/lazy...,3,1,4,1,India,7 runs,Bridgetown,29-06-2024
1,T20I # 2724,IND,171/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,ENG,103,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,India,68 runs,Providence,27-06-2024
2,T20I # 2723,AFG,56,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,SA,60/1,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,South Africa,9 wickets,Tarouba,26-06-2024
3,T20I # 2722,AFG,115/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,BAN,105,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,Afghanistan,8 runs,Kingstown,24-06-2024
4,T20I # 2721,IND,205/5,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,AUS,181/7,https://wassets.hscicdn.com/static/images/lazy...,0,0,0,0,India,24 runs,Gros Islet,24-06-2024

In [631]:
df_full.to_csv('C:\Data Science\Data Sets\T20_WC_2024\Data for Analysis\Refined Data\match_summary_details.csv',index=False)

#### **Over by Over Summary**

In [436]:
df_match_ObO=pd.read_csv('C:\Data Science\Data Sets\T20_WC_2024\Match_Summary\Match_Summary_Over_by_Over.csv')

In [437]:
df_match_ObO

,Match_ID,Overs,Team_1,Over_Summary_1,Over_Summary_2,Team_2
0,T20I # 2729,1,India,"(15 runs, 0 wkt)","(6 runs, 0 wkt)",South Africa
1,T20I # 2729,2,India,"(8 runs, 2 wkts)","(5 runs, 1 wkt)",South Africa
2,T20I # 2729,3,India,"(3 runs, 0 wkt)","(3 runs, 1 wkt)",South Africa
3,T20I # 2729,4,India,"(6 runs, 0 wkt)","(8 runs, 0 wkt)",South Africa
4,T20I # 2729,5,India,"(7 runs, 1 wkt)","(10 runs, 0 wkt)",South Africa
...,...,...,...,...,...,...
992,T20I # 2632,16,Canada,"(12 runs, 0 wkt)","(6 runs, 1 wkt)",U.S.A.
993,T20I # 2632,17,Canada,"(6 runs, 0 wkt)","(7 runs, 0 wkt)",U.S.A.
994,T20I # 2632,18,Canada,"(4 runs, 1 wkt)","(16 runs, 0 wkt)",U.S.A.
995,T20I # 2632,19,Canada,"(14 runs, 1 wkt)",NaN,U.S.A.
996,T20I # 2632,20,Canada,"(21 runs, 0 wkt)",NaN,U.S.A.

In [438]:
def extracting_values(row):
    if pd.isna(row):
        return []
    else:
        row=row.replace('(','')
        row=row.replace(')','')
        
        return row.split(',')

In [439]:
pd.isna(df_match_ObO['Over_Summary_2'][996])

True

In [440]:
extracting_values(df_match_ObO['Over_Summary_2'][996])

[]

In [441]:
# df_scores['extracted_extras_team1'] = df_scores['Team_1_Extras_given'].apply(extract_values)

In [442]:
df_match_ObO['Over_Summary_2']=df_match_ObO['Over_Summary_2'].apply(lambda x: extracting_values(x))
df_match_ObO['Over_Summary_1']=df_match_ObO['Over_Summary_1'].apply(lambda x: extracting_values(x))

In [443]:
def list_to_dict_1(lst):
  """Converts a list of pairs to a dictionary."""
  return {item.split()[1]: int(item.split()[0]) for item in lst}

# my_list = ['b 1', 'lb 4', 'nb 1', 'w 3']
# my_dict = list_to_dict(my_list)
# print(my_dict)  # Output: {'b': 1, 'lb': 4, 'nb': 1, 'w': 3}

In [444]:
df_match_ObO['Over_Summary_2']=df_match_ObO['Over_Summary_2'].apply(lambda x: list_to_dict_1(x))
df_match_ObO['Over_Summary_1']=df_match_ObO['Over_Summary_1'].apply(lambda x: list_to_dict_1(x))

In [445]:
df_match_ObO

,Match_ID,Overs,Team_1,Over_Summary_1,Over_Summary_2,Team_2
0,T20I # 2729,1,India,"{'runs': 15, 'wkt': 0}","{'runs': 6, 'wkt': 0}",South Africa
1,T20I # 2729,2,India,"{'runs': 8, 'wkts': 2}","{'runs': 5, 'wkt': 1}",South Africa
2,T20I # 2729,3,India,"{'runs': 3, 'wkt': 0}","{'runs': 3, 'wkt': 1}",South Africa
3,T20I # 2729,4,India,"{'runs': 6, 'wkt': 0}","{'runs': 8, 'wkt': 0}",South Africa
4,T20I # 2729,5,India,"{'runs': 7, 'wkt': 1}","{'runs': 10, 'wkt': 0}",South Africa
...,...,...,...,...,...,...
992,T20I # 2632,16,Canada,"{'runs': 12, 'wkt': 0}","{'runs': 6, 'wkt': 1}",U.S.A.
993,T20I # 2632,17,Canada,"{'runs': 6, 'wkt': 0}","{'runs': 7, 'wkt': 0}",U.S.A.
994,T20I # 2632,18,Canada,"{'runs': 4, 'wkt': 1}","{'runs': 16, 'wkt': 0}",U.S.A.
995,T20I # 2632,19,Canada,"{'runs': 14, 'wkt': 1}",{},U.S.A.
996,T20I # 2632,20,Canada,"{'runs': 21, 'wkt': 0}",{},U.S.A.

In [ ]:
df_match_ObO['Over_Summary_1'].apply(lambda x : x['runs'] if len(x)!=0 and 'runs' in x else x['run'] if len(x)!=0 and 'run' in x else 0)
# df_match_ObO['Over_Summary_1'][0]["runs"]

In [447]:
df_match_ObO['T1_Overs_Summary_Runs']=df_match_ObO['Over_Summary_1'].apply(lambda x : x['runs'] if len(x)!=0 and 'runs' in x else x['run'] if len(x)!=0 and 'run' in x else np.nan)
df_match_ObO['T1_Overs_Summary_Wickets']=df_match_ObO['Over_Summary_1'].apply(lambda x : x['wkts'] if len(x)!=0 and 'wkts' in x else x['wkt'] if len(x)!=0 and 'wkt' in x else np.nan)

df_match_ObO['T2_Overs_Summary_Runs']=df_match_ObO['Over_Summary_2'].apply(lambda x : x['runs'] if len(x)!=0 and 'runs' in x else x['run'] if len(x)!=0 and 'run' in x else np.nan)
df_match_ObO['T2_Overs_Summary_Wickets']=df_match_ObO['Over_Summary_2'].apply(lambda x : x['wkts'] if len(x)!=0 and 'wkts' in x else x['wkt'] if len(x)!=0 and 'wkt' in x else np.nan)

In [470]:
df_match_ObO.head(20)

,Match_ID,Overs,Team_1,Over_Summary_1,Over_Summary_2,Team_2,T1_Overs_Summary_Runs,T1_Overs_Summary_Wickets,T2_Overs_Summary_Runs,T2_Overs_Summary_Wickets,T1_cum_runs,T1_cum_wkts,T2_cum_runs,T2_cum_wkts
0,T20I # 2729,1,India,"{'runs': 15, 'wkt': 0}","{'runs': 6, 'wkt': 0}",South Africa,15.0,0.0,6.0,0.0,15.0,0.0,6.0,0.0
1,T20I # 2729,2,India,"{'runs': 8, 'wkts': 2}","{'runs': 5, 'wkt': 1}",South Africa,8.0,2.0,5.0,1.0,23.0,2.0,11.0,1.0
2,T20I # 2729,3,India,"{'runs': 3, 'wkt': 0}","{'runs': 3, 'wkt': 1}",South Africa,3.0,0.0,3.0,1.0,26.0,2.0,14.0,2.0
3,T20I # 2729,4,India,"{'runs': 6, 'wkt': 0}","{'runs': 8, 'wkt': 0}",South Africa,6.0,0.0,8.0,0.0,32.0,2.0,22.0,2.0
4,T20I # 2729,5,India,"{'runs': 7, 'wkt': 1}","{'runs': 10, 'wkt': 0}",South Africa,7.0,1.0,10.0,0.0,39.0,3.0,32.0,2.0
5,T20I # 2729,6,India,"{'runs': 6, 'wkt': 0}","{'runs': 10, 'wkt': 0}",South Africa,6.0,0.0,10.0,0.0,45.0,3.0,42.0,2.0
6,T20I # 2729,7,India,"{'runs': 4, 'wkt': 0}","{'runs': 7, 'wkt': 0}",South Africa,4.0,0.0,7.0,0.0,49.0,3.0,49.0,2.0
7,T20I # 2729,8,India,"{'runs': 10, 'wkt': 0}","{'runs': 13, 'wkt': 0}",South Africa,10.0,0.0,13.0,0.0,59.0,3.0,62.0,2.0
8,T20I # 2729,9,India,"{'runs': 9, 'wkt': 0}","{'runs': 9, 'wkt': 1}",South Africa,9.0,0.0,9.0,1.0,68.0,3.0,71.0,3.0
9,T20I # 2729,10,India,"{'runs': 7, 'wkt': 0}","{'runs': 10, 'wkt': 0}",South Africa,7.0,0.0,10.0,0.0,75.0,3.0,81.0,3.0
10,T20I # 2729,11,India,"{'runs': 7, 'wkt': 0}","{'runs': 12, 'wkt': 0}",South Africa,7.0,0.0,12.0,0.0,82.0,3.0,93.0,3.0
11,T20I # 2729,12,India,"{'runs': 11, 'wkt': 0}","{'runs': 8, 'wkt': 0}",South Africa,11.0,0.0,8.0,0.0,93.0,3.0,101.0,3.0
12,T20I # 2729,13,India,"{'runs': 5, 'wkt': 0}","{'runs': 8, 'wkt': 1}",South Africa,5.0,0.0,8.0,1.0,98.0,3.0,109.0,4.0
13,T20I # 2729,14,India,"{'runs': 10, 'wkt': 1}","{'runs': 14, 'wkt': 0}",South Africa,10.0,1.0,14.0,0.0,108.0,4.0,123.0,4.0
14,T20I # 2729,15,India,"{'runs': 10, 'wkt': 0}","{'runs': 24, 'wkt': 0}",South Africa,10.0,0.0,24.0,0.0,118.0,4.0,147.0,4.0
15,T20I # 2729,16,India,"{'runs': 8, 'wkt': 0}","{'runs': 4, 'wkt': 0}",South Africa,8.0,0.0,4.0,0.0,126.0,4.0,151.0,4.0
16,T20I # 2729,17,India,"{'runs': 8, 'wkt': 0}","{'runs': 4, 'wkt': 1}",South Africa,8.0,0.0,4.0,1.0,134.0,4.0,155.0,5.0
17,T20I # 2729,18,India,"{'runs': 16, 'wkt': 0}","{'runs': 2, 'wkt': 1}",South Africa,16.0,0.0,2.0,1.0,150.0,4.0,157.0,6.0
18,T20I # 2729,19,India,"{'runs': 17, 'wkt': 1}","{'runs': 4, 'wkt': 0}",South Africa,17.0,1.0,4.0,0.0,167.0,5.0,161.0,6.0
19,T20I # 2729,20,India,"{'runs': 9, 'wkts': 2}","{'runs': 8, 'wkts': 2}",South Africa,9.0,2.0,8.0,2.0,176.0,7.0,169.0,8.0

In [283]:
runs=0
i=0

for x in df_match_ObO['T1_Overs_Summary_Runs']:
    
    if df_match_ObO['Match_ID'][i]== df_match_ObO['Match_ID'][i+1] :
        runs=runs+x    
        # df_match_ObO['T1_Cumulative_score'][i] = runs
        i=i+1
        print(i,runs)

1 15
2 23
3 26
4 32
5 39
6 45
7 49
8 59
9 68
10 75
11 82
12 93
13 98
14 108
15 118
16 126
17 134
18 150
19 167

In [284]:
unique_matches=df_match_ObO['Match_ID'].unique()

In [449]:
runs_table=df_match_ObO[['Match_ID','Overs','T1_Overs_Summary_Runs','T2_Overs_Summary_Runs']]
runs_table

        Match_ID  Overs  T1_Overs_Summary_Runs  T2_Overs_Summary_Runs
0    T20I # 2729      1                   15.0                    6.0
1    T20I # 2729      2                    8.0                    5.0
2    T20I # 2729      3                    3.0                    3.0
3    T20I # 2729      4                    6.0                    8.0
4    T20I # 2729      5                    7.0                   10.0
..           ...    ...                    ...                    ...
992  T20I # 2632     16                   12.0                    6.0
993  T20I # 2632     17                    6.0                    7.0
994  T20I # 2632     18                    4.0                   16.0
995  T20I # 2632     19                   14.0                    NaN
996  T20I # 2632     20                   21.0                    NaN

[997 rows x 4 columns]

In [ ]:
# runs=0
# i=0
# t1_tot_runs=[]
# t2_tot_runs=[]

# # tot_runs.append(runs)

# for x in df_match_ObO['T1_Overs_Summary_Runs'][0:997]:

#     if df_match_ObO['Match_ID'][i]==df_match_ObO['Match_ID'][i+1] and i<995 :

#         runs=runs+df_match_ObO['T1_Overs_Summary_Runs'][i]    
#         # df_match_ObO['T1_Cumulative_score'][i] = runs
#         # runs_table['T1_Cumulative_score'][i] = runs
#         i=i+1
#         t1_tot_runs.append(runs)
#         print(i,runs,t1_tot_runs)

#     elif i<995:
#         runs=runs+x
#         t1_tot_runs.append(runs)
#         match=df_match_ObO['Match_ID'][i]
#         print(i,f'Runs of last over of the match {match}:',runs , t1_tot_runs)
#         # runs_table['T1_Cumulative_score'][i] = runs

#         i=i+1
#         runs=0  # Resetting to zero for the 1st over of next match
#         # runs_table['T1_Cumulative_score'][i] = runs
#         print(i,runs)  

#     else:
#         runs=runs+x    
#         t1_tot_runs.append(runs)
#         print(i,runs,t1_tot_runs)

In [288]:
# # tot_runs.append(1)
# print(t1_tot_runs)
# print(len(t1_tot_runs),len(runs_table))

[15, 23, 26, 32, 39, 45, 49, 59, 68, 75, 82, 93, 98, 108, 118, 126, 134, 150, 167, 176, 6, 11, 21, 29, 40, 46, 55, 65, 69, 77, 86, 91, 110, 113, 118, 126, 132, 147, 159, 171, 4, 10, 20, 20, 23, 28, 28, 37, 44, 49, 52, 55, 3, 5, 16, 21, 23, 27, 36, 47, 54, 58, 58, 58, 61, 74, 79, 87, 92, 98, 98, 113, 5, 5, 34, 36, 51, 59, 75, 92, 101, 113, 126, 130, 141, 154, 161, 165, 170, 180, 194, 204, 5, 10, 22, 28, 39, 47, 54, 63, 66, 69, 73, 86, 89, 94, 97, 103, 117, 117, 123, 134, 9, 11, 18, 26, 39, 48, 50, 55, 59, 65, 69, 73, 79, 88, 91, 97, 101, 115, 115, 5, 9, 11, 17, 29, 40, 48, 52, 56, 64, 74, 83, 96, 104, 109, 119, 122, 126, 141, 148, 8, 23, 29, 39, 42, 53, 56, 71, 80, 83, 97, 110, 115, 120, 134, 146, 155, 170, 178, 196, 3, 10, 13, 25, 32, 48, 51, 60, 65, 69, 75, 80, 88, 91, 95, 102, 108, 123, 125, 128, 2, 14, 20, 41, 51, 63, 69, 75, 80, 87, 89, 92, 98, 107, 115, 128, 133, 141, 155, 163, 4, 4, 8, 17, 27, 39, 47, 57, 60, 67, 72, 79, 84, 89, 98, 103, 117, 122, 133, 140, 5, 8, 16, 25, 34, 47, 54, 60, 67, 79, 90, 98, 110, 115, 126, 138, 150, 159, 167, 181, 5, 13, 25, 36, 44, 54, 63, 72, 75, 82, 94, 102, 106, 117, 137, 141, 143, 162, 168, 180, 3, 13, 17, 45, 56, 64, 69, 83, 93, 101, 108, 125, 127, 133, 141, 153, 161, 173, 179, 194, 13, 22, 37, 73, 85, 92, 96, 102, 108, 113, 128, 135, 141, 145, 148, 158, 169, 193, 201, 218, 2, 7, 12, 14, 14, 16, 16, 25, 27, 35, 41, 41, 43, 45, 52, 59, 63, 74, 76, 78, 3, 7, 14, 19, 32, 45, 50, 58, 70, 74, 84, 90, 106, 119, 124, 134, 153, 172, 184, 201, 3, 11, 13, 20, 26, 31, 38, 44, 52, 57, 59, 63, 69, 72, 75, 75, 88, 90, 101, 106, 2, 8, 15, 17, 28, 32, 32, 40, 47, 58, 74, 74, 77, 77, 83, 86, 86, 92, 100, 103, 3, 5, 15, 25, 43, 54, 67, 83, 92, 96, 111, 111, 120, 134, 137, 148, 152, 164, 170, 179, 0, 12, 17, 28, 38, 51, 68, 81, 100, 121, 0, 0, 0, 0, 4, 6, 8, 12, 16, 18, 20, 22, 22, 22, 24, 32, 34, 34, 34, 4, 10, 16, 22, 31, 38, 40, 51, 53, 57, 67, 69, 73, 77, 80, 85, 95, 99, 106, 115, 3, 12, 17, 17, 27, 29, 35, 38, 45, 47, 47, 49, 54, 66, 75, 78, 81, 88, 93, 93, 0, 10, 13, 15, 23, 23, 28, 30, 33, 33, 33, 42, 44, 44, 3, 5, 23, 30, 35, 54, 66, 70, 73, 76, 84, 89, 95, 102, 105, 112, 128, 133, 147, 159, 0, 2, 11, 19, 21, 21, 30, 34, 45, 47, 56, 73, 75, 79, 89, 101, 105, 110, 129, 147, 3, 7, 7, 15, 15, 15, 22, 22, 33, 38, 44, 55, 67, 76, 76, 90, 90, 94, 97, 104, 7, 13, 15, 15, 15, 15, 15, 15, 17, 23, 29, 32, 39, 47, 56, 66, 68, 11, 16, 20, 28, 28, 28, 41, 48, 50, 53, 61, 64, 71, 73, 75, 83, 86, 89, 94, 104, 11, 18, 18, 22, 22, 22, 28, 34, 40, 54, 58, 61, 69, 77, 81, 87, 97, 102, 106, 110, 3, 5, 17, 29, 40, 53, 61, 66, 72, 78, 87, 89, 92, 105, 113, 115, 124, 132, 135, 150, 8, 19, 19, 23, 37, 49, 56, 61, 67, 80, 88, 88, 92, 94, 94, 97, 103, 110, 116, 116, 6, 10, 25, 35, 47, 54, 64, 71, 75, 85, 100, 102, 106, 116, 124, 128, 136, 148, 155, 173, 3, 25, 33, 55, 70, 74, 82, 85, 97, 102, 111, 118, 136, 140, 149, 160, 173, 185, 193, 201, 0, 6, 13, 13, 16, 18, 21, 24, 30, 33, 38, 46, 50, 55, 64, 69, 78, 85, 100, 100, 5, 13, 25, 32, 48, 53, 57, 64, 70, 74, 83, 89, 95, 100, 103, 109, 112, 115, 117, 124, 6, 21, 25, 33, 39, 44, 47, 49, 52, 55, 76, 86, 97, 102, 106, 114, 127, 140, 156, 159, 6, 12, 12, 26, 26, 35, 40, 51, 55, 61, 67, 72, 80, 88, 90, 108, 117, 124, 126, 135, 7, 9, 19, 25, 37, 48, 54, 60, 68, 78, 83, 90, 97, 107, 113, 122, 135, 139, 142, 155, 9, 13, 21, 21, 26, 29, 34, 39, 45, 65, 73, 92, 97, 106, 112, 125, 131, 138, 148, 158, 6, 13, 19, 25, 32, 37, 43, 50, 52, 56, 60, 63, 75, 80, 106, 114, 130, 139, 156, 164, 0, 11, 18, 25, 28, 33, 36, 40, 42, 48, 48, 51, 51, 54, 56, 65, 69, 74, 77, 77, 3, 7, 9, 13, 26, 26, 32, 36, 44, 49, 49, 52, 66, 73, 79, 96, 5, 10, 15, 21, 25, 29, 38, 41, 46, 53, 53, 56, 65, 68, 75, 84, 91, 96, 106, 106, 6, 16, 26, 28, 34, 49, 54, 72, 82, 90, 12, 22, 29, 39, 48, 66, 75, 80, 90, 102, 113, 120, 127, 152, 156, 161, 166, 171, 177, 183, 2, 9, 13, 13, 20, 23, 29, 29, 34, 38, 42, 44, 51, 59, 66, 68, 68, 68, 73, 73, 3, 8, 12, 19, 29, 36, 36, 40, 51, 59, 63, 67, 71, 73, 77, 82, 88, 96, 100, 108, 0, 6, 9, 14, 25, 33, 38, 46, 51, 56, 61, 66, 80, 89, 93, 95, 98, 111, 121, 135, 6, 17, 34, 40, 43, 50, 60, 66, 70, 85, 90, 102, 112, 128, 137, 149, 155, 159, 173, 194]
997 997

In [451]:
# runs_table['Cumulative_runs']=t1_tot_runs

C:\Users\srihr\AppData\Local\Temp\ipykernel_11876\1216584093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  runs_table['Cumulative_runs']=t1_tot_runs

In [452]:
# runs_table[937:957]

,Match_ID,Overs,T1_Overs_Summary_Runs,T2_Overs_Summary_Runs,Cumulative_runs
937,T20I # 2634,1,3.0,4.0,3.0
938,T20I # 2634,2,5.0,5.0,8.0
939,T20I # 2634,3,4.0,4.0,12.0
940,T20I # 2634,4,7.0,2.0,19.0
941,T20I # 2634,5,10.0,9.0,29.0
942,T20I # 2634,6,7.0,8.0,36.0
943,T20I # 2634,7,1.0,0.0,37.0
944,T20I # 2634,8,4.0,4.0,41.0
945,T20I # 2634,9,11.0,8.0,52.0
946,T20I # 2634,10,8.0,3.0,60.0
947,T20I # 2634,11,4.0,3.0,64.0
948,T20I # 2634,12,4.0,9.0,68.0
949,T20I # 2634,13,4.0,8.0,72.0
950,T20I # 2634,14,2.0,6.0,74.0
951,T20I # 2634,15,4.0,5.0,78.0
952,T20I # 2634,16,5.0,6.0,83.0
953,T20I # 2634,17,6.0,8.0,89.0
954,T20I # 2634,18,8.0,4.0,97.0
955,T20I # 2634,19,4.0,9.0,101.0
956,T20I # 2634,20,8.0,4.0,109.0

In [453]:
matches=runs_table.groupby('Match_ID')

final_match=matches.get_group('T20I # 2724')
final_match

,Match_ID,Overs,T1_Overs_Summary_Runs,T2_Overs_Summary_Runs,Cumulative_runs
20,T20I # 2724,1,6.0,5.0,6.0
21,T20I # 2724,2,5.0,8.0,11.0
22,T20I # 2724,3,10.0,13.0,21.0
23,T20I # 2724,4,8.0,7.0,29.0
24,T20I # 2724,5,11.0,2.0,40.0
25,T20I # 2724,6,6.0,4.0,46.0
26,T20I # 2724,7,9.0,7.0,55.0
27,T20I # 2724,8,10.0,3.0,65.0
28,T20I # 2724,9,4.0,4.0,69.0
29,T20I # 2724,10,8.0,9.0,77.0
30,T20I # 2724,11,9.0,6.0,86.0
31,T20I # 2724,12,5.0,3.0,91.0
32,T20I # 2724,13,19.0,2.0,110.0
33,T20I # 2724,14,3.0,4.0,113.0
34,T20I # 2724,15,5.0,9.0,118.0
35,T20I # 2724,16,8.0,14.0,126.0
36,T20I # 2724,17,6.0,3.0,132.0
37,T20I # 2724,18,15.0,NaN,147.0
38,T20I # 2724,19,12.0,NaN,159.0
39,T20I # 2724,20,12.0,NaN,171.0

In [292]:
# final_match['Overs'].astype(int)
# final_match

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(15,5))

sns.lineplot(data=final_match,x='Overs',y='Cumulative_runs',label='Canada')

In [296]:
import pandas as pd
import numpy as np

# Sample DataFrame with missing values
data = {'values': [10, 20, np.nan, 40, 50]}
df = pd.DataFrame(data)

# Calculate cumulative sum with and without skipping missing values
df['cumulative_sum_skip_na'] = df['values'].cumsum()
df['cumulative_sum_include_na'] = df['values'].cumsum(skipna=False)

print(df)

   values  cumulative_sum_skip_na  cumulative_sum_include_na
0    10.0                    10.0                       10.0
1    20.0                    30.0                       30.0
2     NaN                     NaN                        NaN
3    40.0                    70.0                        NaN
4    50.0                   120.0                        NaN

In [454]:
trial=df_match_ObO
trial

,Match_ID,Overs,Team_1,Over_Summary_1,Over_Summary_2,Team_2,T1_Overs_Summary_Runs,T1_Overs_Summary_Wickets,T2_Overs_Summary_Runs,T2_Overs_Summary_Wickets
0,T20I # 2729,1,India,"{'runs': 15, 'wkt': 0}","{'runs': 6, 'wkt': 0}",South Africa,15.0,0.0,6.0,0.0
1,T20I # 2729,2,India,"{'runs': 8, 'wkts': 2}","{'runs': 5, 'wkt': 1}",South Africa,8.0,2.0,5.0,1.0
2,T20I # 2729,3,India,"{'runs': 3, 'wkt': 0}","{'runs': 3, 'wkt': 1}",South Africa,3.0,0.0,3.0,1.0
3,T20I # 2729,4,India,"{'runs': 6, 'wkt': 0}","{'runs': 8, 'wkt': 0}",South Africa,6.0,0.0,8.0,0.0
4,T20I # 2729,5,India,"{'runs': 7, 'wkt': 1}","{'runs': 10, 'wkt': 0}",South Africa,7.0,1.0,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...
992,T20I # 2632,16,Canada,"{'runs': 12, 'wkt': 0}","{'runs': 6, 'wkt': 1}",U.S.A.,12.0,0.0,6.0,1.0
993,T20I # 2632,17,Canada,"{'runs': 6, 'wkt': 0}","{'runs': 7, 'wkt': 0}",U.S.A.,6.0,0.0,7.0,0.0
994,T20I # 2632,18,Canada,"{'runs': 4, 'wkt': 1}","{'runs': 16, 'wkt': 0}",U.S.A.,4.0,1.0,16.0,0.0
995,T20I # 2632,19,Canada,"{'runs': 14, 'wkt': 1}",{},U.S.A.,14.0,1.0,NaN,NaN
996,T20I # 2632,20,Canada,"{'runs': 21, 'wkt': 0}",{},U.S.A.,21.0,0.0,NaN,NaN

In [455]:
unique_matches

array(['T20I # 2729', 'T20I # 2724', 'T20I # 2723', 'T20I # 2722',
       'T20I # 2721', 'T20I # 2720', 'T20I # 2719', 'T20I # 2717',
       'T20I # 2716', 'T20I # 2713', 'T20I # 2712', 'T20I # 2711',
       'T20I # 2710', 'T20I # 2709', 'T20I # 2708', 'T20I # 2703',
       'T20I # 2702', 'T20I # 2699', 'T20I # 2698', 'T20I # 2697',
       'T20I # 2689', 'T20I # 2688', 'T20I # 2682', 'T20I # 2681',
       'T20I # 2679', 'T20I # 2678', 'T20I # 2677', 'T20I # 2672',
       'T20I # 2671', 'T20I # 2666', 'T20I # 2665', 'T20I # 2664',
       'T20I # 2659', 'T20I # 2658', 'T20I # 2651', 'T20I # 2650',
       'T20I # 2649', 'T20I # 2646', 'T20I # 2645', 'T20I # 2644',
       'T20I # 2643', 'T20I # 2642', 'T20I # 2641', 'T20I # 2640',
       'T20I # 2639', 'T20I # 2638', 'T20I # 2637', 'T20I # 2636',
       'T20I # 2635', 'T20I # 2634', 'T20I # 2633', 'T20I # 2632'],
      dtype=object)

In [456]:
matches=df_match_ObO.groupby('Match_ID')
finale=matches.get_group("T20I # 2634")
finale

,Match_ID,Overs,Team_1,Over_Summary_1,Over_Summary_2,Team_2,T1_Overs_Summary_Runs,T1_Overs_Summary_Wickets,T2_Overs_Summary_Runs,T2_Overs_Summary_Wickets
937,T20I # 2634,1,Oman,"{'runs': 3, 'wkts': 2}","{'runs': 4, 'wkt': 1}",Namibia,3.0,2.0,4.0,1.0
938,T20I # 2634,2,Oman,"{'runs': 5, 'wkt': 0}","{'runs': 5, 'wkt': 0}",Namibia,5.0,0.0,5.0,0.0
939,T20I # 2634,3,Oman,"{'runs': 4, 'wkt': 1}","{'runs': 4, 'wkt': 0}",Namibia,4.0,1.0,4.0,0.0
940,T20I # 2634,4,Oman,"{'runs': 7, 'wkt': 0}","{'runs': 2, 'wkt': 0}",Namibia,7.0,0.0,2.0,0.0
941,T20I # 2634,5,Oman,"{'runs': 10, 'wkt': 0}","{'runs': 9, 'wkt': 0}",Namibia,10.0,0.0,9.0,0.0
942,T20I # 2634,6,Oman,"{'runs': 7, 'wkt': 0}","{'runs': 8, 'wkt': 0}",Namibia,7.0,0.0,8.0,0.0
943,T20I # 2634,7,Oman,"{'run': 1, 'wkt': 1}","{'runs': 0, 'wkt': 0}",Namibia,1.0,1.0,0.0,0.0
944,T20I # 2634,8,Oman,"{'runs': 4, 'wkt': 0}","{'runs': 4, 'wkt': 0}",Namibia,4.0,0.0,4.0,0.0
945,T20I # 2634,9,Oman,"{'runs': 11, 'wkt': 0}","{'runs': 8, 'wkt': 1}",Namibia,11.0,0.0,8.0,1.0
946,T20I # 2634,10,Oman,"{'runs': 8, 'wkt': 0}","{'runs': 3, 'wkt': 0}",Namibia,8.0,0.0,3.0,0.0
947,T20I # 2634,11,Oman,"{'runs': 4, 'wkt': 0}","{'runs': 3, 'wkt': 0}",Namibia,4.0,0.0,3.0,0.0
948,T20I # 2634,12,Oman,"{'runs': 4, 'wkt': 1}","{'runs': 9, 'wkt': 0}",Namibia,4.0,1.0,9.0,0.0
949,T20I # 2634,13,Oman,"{'runs': 4, 'wkt': 0}","{'runs': 8, 'wkt': 0}",Namibia,4.0,0.0,8.0,0.0
950,T20I # 2634,14,Oman,"{'runs': 2, 'wkt': 0}","{'runs': 6, 'wkt': 0}",Namibia,2.0,0.0,6.0,0.0
951,T20I # 2634,15,Oman,"{'runs': 4, 'wkt': 0}","{'runs': 5, 'wkt': 1}",Namibia,4.0,0.0,5.0,1.0
952,T20I # 2634,16,Oman,"{'runs': 5, 'wkt': 1}","{'runs': 6, 'wkt': 0}",Namibia,5.0,1.0,6.0,0.0
953,T20I # 2634,17,Oman,"{'runs': 6, 'wkt': 0}","{'runs': 8, 'wkt': 0}",Namibia,6.0,0.0,8.0,0.0
954,T20I # 2634,18,Oman,"{'runs': 8, 'wkts': 2}","{'runs': 4, 'wkt': 1}",Namibia,8.0,2.0,4.0,1.0
955,T20I # 2634,19,Oman,"{'runs': 4, 'wkt': 1}","{'runs': 9, 'wkt': 0}",Namibia,4.0,1.0,9.0,0.0
956,T20I # 2634,20,Oman,"{'runs': 8, 'wkt': 1}","{'runs': 4, 'wkts': 2}",Namibia,8.0,1.0,4.0,2.0

In [460]:
finale_t1_cum_runs=[]
finale_t2_cum_runs=[]

finale_t1_cum_wkts=[]
finale_t2_cum_wkts=[]

runs_t1=finale['T1_Overs_Summary_Runs'].cumsum()
runs_t2=finale['T2_Overs_Summary_Runs'].cumsum()

wkts_t1=finale['T1_Overs_Summary_Wickets'].cumsum()
wkts_t2=finale['T2_Overs_Summary_Wickets'].cumsum()

finale_t1_cum_runs.extend(runs_t1)
finale_t2_cum_runs.extend(runs_t2)

finale_t1_cum_wkts.extend(wkts_t1)
finale_t2_cum_wkts.extend(wkts_t2)

In [459]:
print(finale_t2_cum_runs,"\n",finale_t2_cum_wkts)

[4.0, 9.0, 13.0, 15.0, 24.0, 32.0, 32.0, 36.0, 44.0, 47.0, 50.0, 59.0, 67.0, 73.0, 78.0, 84.0, 92.0, 96.0, 105.0, 109.0]
 [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0, 4.0, 4.0, 6.0]

In [461]:
cols={"Overs":finale['Overs'],"t1 cum runs":finale_t1_cum_runs,"t1 cum wkts":finale_t1_cum_wkts,"t2 cum runs":finale_t2_cum_runs,"t2 cum wkts":finale_t2_cum_wkts}
semis=pd.DataFrame(cols)
semis

     Overs  t1 cum runs  t1 cum wkts  t2 cum runs  t2 cum wkts
937      1          3.0          2.0          4.0          1.0
938      2          8.0          2.0          9.0          1.0
939      3         12.0          3.0         13.0          1.0
940      4         19.0          3.0         15.0          1.0
941      5         29.0          3.0         24.0          1.0
942      6         36.0          3.0         32.0          1.0
943      7         37.0          4.0         32.0          1.0
944      8         41.0          4.0         36.0          1.0
945      9         52.0          4.0         44.0          2.0
946     10         60.0          4.0         47.0          2.0
947     11         64.0          4.0         50.0          2.0
948     12         68.0          5.0         59.0          2.0
949     13         72.0          5.0         67.0          2.0
950     14         74.0          5.0         73.0          2.0
951     15         78.0          5.0         78.0          3.0
952     16         83.0          6.0         84.0          3.0
953     17         89.0          6.0         92.0          3.0
954     18         97.0          8.0         96.0          4.0
955     19        101.0          9.0        105.0          4.0
956     20        109.0         10.0        109.0          6.0

In [462]:
matches=trial.groupby('Match_ID')

t1_Tot_runs=[]
t1_Tot_wickets=[]

t2_Tot_runs=[]
t2_Tot_wickets=[]

for x in unique_matches:

    match=matches.get_group(x)

    # Team 1
    runs_t1=match['T1_Overs_Summary_Runs'].cumsum()
    wickets_t1=match['T1_Overs_Summary_Wickets'].cumsum()

    t1_Tot_runs.extend(runs_t1)
    t1_Tot_wickets.extend(wickets_t1)

    # print(t1_Tot_runs)

    #Team 2
    runs_t2=match['T2_Overs_Summary_Runs'].cumsum()
    wickets_t2=match['T2_Overs_Summary_Wickets'].cumsum()    

    t2_Tot_runs.extend(runs_t2)
    t2_Tot_wickets.extend(wickets_t2)
    
    # print(runs_t1,wickets_t1)
    # print(t1_Tot_runs)

In [301]:
len(df_match_ObO)

997

In [463]:
trial['T1_cum_runs']=t1_Tot_runs
trial['T1_cum_wkts']=t1_Tot_wickets

trial['T2_cum_runs']=t2_Tot_runs
trial['T2_cum_wkts']=t2_Tot_wickets

In [468]:
final_match=trial[20:40]
final_match

,Match_ID,Overs,Team_1,Over_Summary_1,Over_Summary_2,Team_2,T1_Overs_Summary_Runs,T1_Overs_Summary_Wickets,T2_Overs_Summary_Runs,T2_Overs_Summary_Wickets,T1_cum_runs,T1_cum_wkts,T2_cum_runs,T2_cum_wkts
20,T20I # 2724,1,India,"{'runs': 6, 'wkt': 0}","{'runs': 5, 'wkt': 0}",England,6.0,0.0,5.0,0.0,6.0,0.0,5.0,0.0
21,T20I # 2724,2,India,"{'runs': 5, 'wkt': 0}","{'runs': 8, 'wkt': 0}",England,5.0,0.0,8.0,0.0,11.0,0.0,13.0,0.0
22,T20I # 2724,3,India,"{'runs': 10, 'wkt': 1}","{'runs': 13, 'wkt': 0}",England,10.0,1.0,13.0,0.0,21.0,1.0,26.0,0.0
23,T20I # 2724,4,India,"{'runs': 8, 'wkt': 0}","{'runs': 7, 'wkt': 1}",England,8.0,0.0,7.0,1.0,29.0,1.0,33.0,1.0
24,T20I # 2724,5,India,"{'runs': 11, 'wkt': 0}","{'runs': 2, 'wkt': 1}",England,11.0,0.0,2.0,1.0,40.0,1.0,35.0,2.0
25,T20I # 2724,6,India,"{'runs': 6, 'wkt': 1}","{'runs': 4, 'wkt': 1}",England,6.0,1.0,4.0,1.0,46.0,2.0,39.0,3.0
26,T20I # 2724,7,India,"{'runs': 9, 'wkt': 0}","{'runs': 7, 'wkt': 0}",England,9.0,0.0,7.0,0.0,55.0,2.0,46.0,3.0
27,T20I # 2724,8,India,"{'runs': 10, 'wkt': 0}","{'runs': 3, 'wkt': 1}",England,10.0,0.0,3.0,1.0,65.0,2.0,49.0,4.0
28,T20I # 2724,9,India,"{'runs': 4, 'wkt': 0}","{'runs': 4, 'wkt': 1}",England,4.0,0.0,4.0,1.0,69.0,2.0,53.0,5.0
29,T20I # 2724,10,India,"{'runs': 8, 'wkt': 0}","{'runs': 9, 'wkt': 0}",England,8.0,0.0,9.0,0.0,77.0,2.0,62.0,5.0
30,T20I # 2724,11,India,"{'runs': 9, 'wkt': 0}","{'runs': 6, 'wkt': 1}",England,9.0,0.0,6.0,1.0,86.0,2.0,68.0,6.0
31,T20I # 2724,12,India,"{'runs': 5, 'wkt': 0}","{'runs': 3, 'wkt': 0}",England,5.0,0.0,3.0,0.0,91.0,2.0,71.0,6.0
32,T20I # 2724,13,India,"{'runs': 19, 'wkt': 0}","{'runs': 2, 'wkt': 1}",England,19.0,0.0,2.0,1.0,110.0,2.0,73.0,7.0
33,T20I # 2724,14,India,"{'runs': 3, 'wkt': 1}","{'runs': 4, 'wkt': 0}",England,3.0,1.0,4.0,0.0,113.0,3.0,77.0,7.0
34,T20I # 2724,15,India,"{'runs': 5, 'wkt': 0}","{'runs': 9, 'wkt': 1}",England,5.0,0.0,9.0,1.0,118.0,3.0,86.0,8.0
35,T20I # 2724,16,India,"{'runs': 8, 'wkt': 1}","{'runs': 14, 'wkt': 1}",England,8.0,1.0,14.0,1.0,126.0,4.0,100.0,9.0
36,T20I # 2724,17,India,"{'runs': 6, 'wkt': 0}","{'runs': 3, 'wkt': 1}",England,6.0,0.0,3.0,1.0,132.0,4.0,103.0,10.0
37,T20I # 2724,18,India,"{'runs': 15, 'wkts': 2}",{},England,15.0,2.0,NaN,NaN,147.0,6.0,NaN,NaN
38,T20I # 2724,19,India,"{'runs': 12, 'wkt': 0}",{},England,12.0,0.0,NaN,NaN,159.0,6.0,NaN,NaN
39,T20I # 2724,20,India,"{'runs': 12, 'wkt': 1}",{},England,12.0,1.0,NaN,NaN,171.0,7.0,NaN,NaN

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(15,5))

sns.lineplot(data=final_match,x=final_match['Overs'],y=final_match['T1_cum_runs'],label='India',markers=True)
sns.lineplot(x=final_match['Overs'],y=final_match['T2_cum_runs'],label='South Africa')

In [ ]:
# sns.barplot(x=final_match["Overs"].index,y=final_match['T1_cum_wkts'])
sns.lineplot(x=final_match['Overs'],y=final_match['T1_cum_runs'],label='India',markers=final_match['T1_cum_wkts'])

In [599]:
df_match_ObO['T1_cum_runs']=t1_Tot_runs
df_match_ObO['T1_cum_wkts']=t1_Tot_wickets

df_match_ObO['T2_cum_runs']=t2_Tot_runs
df_match_ObO['T2_cum_wkts']=t2_Tot_wickets

In [603]:
df_match_ObO.head()

,Match_ID,Overs,Team_1,Over_Summary_1,Over_Summary_2,Team_2,T1_Overs_Summary_Runs,T1_Overs_Summary_Wickets,T2_Overs_Summary_Runs,T2_Overs_Summary_Wickets,T1_cum_runs,T1_cum_wkts,T2_cum_runs,T2_cum_wkts
0,T20I # 2729,1,India,"{'runs': 15, 'wkt': 0}","{'runs': 6, 'wkt': 0}",South Africa,15.0,0.0,6.0,0.0,15.0,0.0,6.0,0.0
1,T20I # 2729,2,India,"{'runs': 8, 'wkts': 2}","{'runs': 5, 'wkt': 1}",South Africa,8.0,2.0,5.0,1.0,23.0,2.0,11.0,1.0
2,T20I # 2729,3,India,"{'runs': 3, 'wkt': 0}","{'runs': 3, 'wkt': 1}",South Africa,3.0,0.0,3.0,1.0,26.0,2.0,14.0,2.0
3,T20I # 2729,4,India,"{'runs': 6, 'wkt': 0}","{'runs': 8, 'wkt': 0}",South Africa,6.0,0.0,8.0,0.0,32.0,2.0,22.0,2.0
4,T20I # 2729,5,India,"{'runs': 7, 'wkt': 1}","{'runs': 10, 'wkt': 0}",South Africa,7.0,1.0,10.0,0.0,39.0,3.0,32.0,2.0

In [ ]:
# Droping the columns

df_match_ObO.drop(['Over_Summary_1','Over_Summary_2'],axis=1,inplace=True)

In [613]:
df_match_ObO.columns

Index(['Match_ID', 'Overs', 'Team_1', 'Team_2', 'T1_Overs_Summary_Runs',
       'T1_Overs_Summary_Wickets', 'T2_Overs_Summary_Runs',
       'T2_Overs_Summary_Wickets', 'T1_cum_runs', 'T1_cum_wkts', 'T2_cum_runs',
       'T2_cum_wkts'],
      dtype='object')

In [628]:
# Reorering the columns

df_match_ObO=df_match_ObO.reindex(['Match_ID', 'Overs', 'Team_1', 'Team_2', 'T1_Overs_Summary_Runs',
       'T1_Overs_Summary_Wickets','T1_cum_runs', 'T1_cum_wkts', 'T2_Overs_Summary_Runs',
       'T2_Overs_Summary_Wickets', 'T2_cum_runs','T2_cum_wkts'],axis=1)

In [629]:
df_match_ObO.head()

,Match_ID,Overs,Team_1,Team_2,T1_Overs_Summary_Runs,T1_Overs_Summary_Wickets,T1_cum_runs,T1_cum_wkts,T2_Overs_Summary_Runs,T2_Overs_Summary_Wickets,T2_cum_runs,T2_cum_wkts
0,T20I # 2729,1,India,South Africa,15.0,0.0,15.0,0.0,6.0,0.0,6.0,0.0
1,T20I # 2729,2,India,South Africa,8.0,2.0,23.0,2.0,5.0,1.0,11.0,1.0
2,T20I # 2729,3,India,South Africa,3.0,0.0,26.0,2.0,3.0,1.0,14.0,2.0
3,T20I # 2729,4,India,South Africa,6.0,0.0,32.0,2.0,8.0,0.0,22.0,2.0
4,T20I # 2729,5,India,South Africa,7.0,1.0,39.0,3.0,10.0,0.0,32.0,2.0

In [632]:
df_match_ObO.to_csv('C:\Data Science\Data Sets\T20_WC_2024\Data for Analysis\Refined Data\match_over_by_over.csv',index=False)

### **Players**

In [38]:
df_players=pd.read_csv("C:\Data Science\Data Sets\T20_WC_2024\Data for Analysis\dim_Players.csv",encoding='ISO-8859-1')
df_players

,Player,Team,Image Link,Player Role,Age,Batting Style,Bowling Action
0,Rahmanullah Gurbaz(vc),Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Wicketkeeper Batter,22y 155d,Right hand Bat,NaN
1,Hazratullah Zazai,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Opening Batter,26y 39d,Left hand Bat,Slow Left arm Orthodox
2,Ibrahim Zadran,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Opening Batter,22y 141d,Right hand Bat,Right arm Medium fast
3,Mohammad Ishaq,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Wicketkeeper Batter,19y 90d,Right hand Bat,NaN
4,Najibullah Zadran,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Middle order Batter,31y 73d,Left hand Bat,Right arm Offbreak
...,...,...,...,...,...,...,...
296,Alzarri Joseph(vc),West-Indies,https://wassets.hscicdn.com/static/images/lazy...,Bowler,27y 165d,Right hand Bat,Right arm Fast
297,Akeal Hosein,West-Indies,https://wassets.hscicdn.com/static/images/lazy...,Bowler,31y 8d,Left hand Bat,Slow Left arm Orthodox
298,Shamar Joseph,West-Indies,https://wassets.hscicdn.com/static/images/lazy...,Bowler,24y 246d,Left hand Bat,Right arm Fast
299,Obed McCoy,West-Indies,https://wassets.hscicdn.com/static/images/lazy...,Bowler,27y 120d,Left hand Bat,Left arm Fast medium
300,Gudakesh Motie,West-Indies,https://wassets.hscicdn.com/static/images/lazy...,Bowler,29y 35d,Left hand Bat,Slow Left arm Orthodox

In [40]:
df_players['Player']=df_players['Player'].apply(remove_non_printable)

In [41]:
df_players.head()

,Player,Team,Image Link,Player Role,Age,Batting Style,Bowling Action
0,Rahmanullah Gurbaz(vc),Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Wicketkeeper Batter,22y 155d,Right hand Bat,NaN
1,Hazratullah Zazai,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Opening Batter,26y 39d,Left hand Bat,Slow Left arm Orthodox
2,Ibrahim Zadran,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Opening Batter,22y 141d,Right hand Bat,Right arm Medium fast
3,Mohammad Ishaq,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Wicketkeeper Batter,19y 90d,Right hand Bat,NaN
4,Najibullah Zadran,Afghanistan,https://wassets.hscicdn.com/static/images/lazy...,Middle order Batter,31y 73d,Left hand Bat,Right arm Offbreak

In [42]:
df_players.to_csv('C:\Data Science\Data Sets\T20_WC_2024\Data for Analysis\Refined Data\players.csv')